@(users: List[User], userForm: Form[CreateUserForm])(implicit messages: Messages)

@import helper._

@main("User Management") {
    
    <h1>@users.size users(s)</h1>  
    
        
            <table>
            <tr>
                <td>
                    @form(routes.UserController.addUser) {
                            <input type="submit" value="Add new user">
                        }
                </td>
                <td>Filter:
                    <select id="filter">
                        <option value="all">Show All</option>
                        <option value="true">Active</option>
                        <option value="false">InActive</option>
                    </select>

                    <button id='btnFilter'>Go</button></td>
            </table>
         <div style="width:30%; height: 500px; overflow: auto;">   
    <table class="trstyle">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>IsActive</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                 @users.map { user =>
                <tr>
                    <td>
                         @user.id 
                    </td>
                    <td>
                        @user.name
                    </td>
                    <td class="isActive">
                         @user.isActive
                    </td>
                    <td>
                        @form(routes.UserController.deleteUser(user.id)) {
                            <input type="submit" value="Delete">
                        }
                    </td>
                    <td>
                        @form(routes.UserController.editUser(user.id)) {
                            <input type="submit" value="Edit">
                        }
                    </td>
                </tr>
                }
                </tbody>
            </table>
    </div>
     
    
    
}
